[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
python-dotenv = "*"

[dev-packages]
tox = "*"
bpython = "*"
pytest = "*"

[requires]
python_version = "3.9"
